:root {
    --black: #252525;
    --white: #fff;
    --blue: #517FE3;
    --green: #C7D66D;

    --gray750: #5C5B5B;
    --gray500: #929292;
    --gray50: #F4F4F4;

    --blue700: #365597;
}

* {
    font-family: 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
}

*,
::after,
::before {
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 32px;
}

body {
    margin: 0;
    padding: 0;
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 24px;
}

p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px 0;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.small {
    font-size: 12px;
    line-height: 1;
}

.bold {
    font-weight: bold;
}

.mt-1 {
    margin-top: 8px !important;
}

.mt-2 {
    margin-top: 16px !important;
}

.mt-3 {
    margin-top: 24px !important;
}

.mt-4 {
    margin-top: 32px !important;
}

.mt-5 {
    margin-top: 40px !important;
}

.mt-6 {
    margin-top: 48px !important;
}

.mt-7 {
    margin-top: 56px !important;
}

.mt-8 {
    margin-top: 64px !important;
}

.mb-1 {
    margin-bottom: 8px !important;
}

.mb-2 {
    margin-bottom: 16px !important;
}

.mb-3 {
    margin-bottom: 24px !important;
}

.mb-4 {
    margin-bottom: 32px !important;
}

.mb-5 {
    margin-bottom: 40px !important;
}

.mb-6 {
    margin-bottom: 48px !important;
}

.mb-7 {
    margin-bottom: 56px !important;
}

.mb-8 {
    margin-bottom: 64px !important;
}